
x-airflow-common-env: &airflow-common-env
  AIRFLOW__CORE__EXECUTOR: LocalExecutor
  AIRFLOW__DATABASE__SQL_ALCHEMY_CONN: postgresql+psycopg2://airflow:airflow@postgres/airflow
  AIRFLOW__WEBSERVER__SECRET_KEY: "airflow-super-secret-key-123"
  AIRFLOW_CONN_POSTGRES_DEFAULT: postgresql://airflow:airflow@postgres:5432/airflow

services:

  postgres:
    image: postgres:15
    environment:
      POSTGRES_USER: airflow
      POSTGRES_PASSWORD: airflow
      POSTGRES_DB: airflow
    volumes:
      - postgres-db:/var/lib/postgresql/data
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U airflow"]
      interval: 10s
      timeout: 5s
      retries: 5
    restart: unless-stopped

  airflow-init:
    build:
      context: ..
      dockerfile: docker/Dockerfile
    profiles: ["init"]
    depends_on:
      postgres:
        condition: service_healthy
    environment:
      <<: *airflow-common-env
    command: airflow db migrate
    restart: "no"

  airflow-webserver:
    build:
      context: ..
      dockerfile: docker/Dockerfile
    depends_on:
      postgres:
        condition: service_healthy
    ports:
      - "8080:8080"
    volumes:
      - /dags:/opt/airflow/dags
      - /etl:/opt/airflow/etl
    environment:
      <<: *airflow-common-env
      AIRFLOW__WEBSERVER__EXPOSE_CONFIG: "True"
    command: airflow webserver
    restart: unless-stopped

  airflow-scheduler:
    build:
      context: ..
      dockerfile: docker/Dockerfile
    depends_on:
      postgres:
        condition: service_healthy
    volumes:
      - /dags:/opt/airflow/dags
      - /etl:/opt/airflow/etl
    environment:
      <<: *airflow-common-env
    command: airflow scheduler
    restart: unless-stopped

volumes:
  postgres-db:
